*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
}

#mainHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 80px;
}

.container {
    margin: 40px ;
}

.perfume-details {
    display: flex;
    border: 1px solid #ccc;
    padding:10px 10px;
}

.perfume-details img {
    max-width: 400px;
}

.details {
    padding-top: 50px;
}

.details h2 {
  font-weight: bolder;
  font-size: 45px;
  padding: 20px 0;
}

.details h3 {
    font-size: 30px;
    font-weight: 200;
    background-color: black;
    color: #ccc;
    padding: 5px;
  }

.details p {
    font-size: x-large;
    padding: 10px 0;
}

#perfumePrice {
    font-weight: bolder;
    color: red;
}

.checked {
    color: orange;
  }